.header {
    display: grid;
    grid-area: header;
    background-color: #63E0B7;

    grid-template-columns: 1fr 2fr;
}
.headerimg {
    width: 100px;
    height: 60px;
}
.mainw{
    color: #943A23;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
}

