.header {
    display: grid;
    grid-area: header;
    background-color: lawngreen;

    grid-template-columns: 1fr 2fr;
}
.headerimg {
    width: 100px;
    height: 60px;
}
.idinahuy{
    color: red;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
}

