.area{
    display: grid;

    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
}

.dialogs {
    padding: 10px;
}
.dialog {
    color:black;
}
.avatarImg{
    height: 50px;
    width: 50px;
    border-radius: 500px;
}

.avablock{
    justify-self: end;
}

.active{
    color: gold;
}

.messages{
    color: #942A1C;
    padding: 10px;
}

.mymessages{
    color: #942A1C;
    padding: 10px;
    justify-self: end;
}
.message {

}


