.area{
    display: grid;

    grid-template-columns: 1fr 3fr;
}

.dialogs {
    padding: 10px;
}
.dialog {
    color:black;
}
.active{
    color: gold;
}

.messages{
    color: #942A1C;
    padding: 10px;
}
.message {

}


